<div class="error404 container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="./assets/images/error404.png" alt="Error 404">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p>Oops! Parece que esta receta se ha perdido! Pero en Chef en la despensa, siempre hay algo delicioso esperando a ser descubierto.</p>
          <button class="btn btn-error" (click)="navigateHome()">¡Volvamos a la cocina!</button>
        </div>
      </div>
</div>