<section class="container d-flex justify-content-center align-items-center flex-column section-about">
    <h2 class="p-3 text-center">About Us</h2>
   <div class="text-justify">
    <p>Bienvenidos a <strong>Chef de la despensa</strong>, el destino culinario en línea donde la pasión por la gastronomía se encuentra con la conveniencia de la era digital.</p>
    
    <p>Hemos recopilado cuidadosamente una selección excepcional de recetas que abarcan una amplia gama de sabores y estilos culinarios.</p>

    <h3 class="p-3 text-center">¿Qué te Ofrecemos?</h3>

    <ul class="list-unstyled">
        <li>Acceso a una gran variedad de recetas: Ya sea que seas un chef experimentado o un principiante en la cocina, encontrarás algo que te encante en nuestra extensa coleccioón de recetas.</li>
        <li>Opción de registro: Al unirte a <strong>Chef en la despensa</strong>, desbloquearás un mundo de posibilidades. </li>
        <li>Comparte tus creaciones: ¿Tienes tu propia receta especial? ¡Compártela con nuestra comunidad! Permítenos ser el escenario para que tus talentos culinarios brillen.</li>
    </ul>
    
    <p>Esperamos que disfrutes explorando, cocinando y compartiendo momentos inolvidables a través de nuestras recetas. ¡Únete a nosotros en esta emocionante aventura culinaria!</p>
   </div>

    <input class="btn btn-register" type="submit" value="Register">

</section>

