<div class="login-container">

    <h2>Iniciar sesión</h2>
  
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  
    <div class="form-group">
  
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <span *ngIf="isValidField('email')" class="error-Message"> {{getErrorInField('email')}} </span>
      </div>
  
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="password" formControlName="password"  class="form-control" >
          <span *ngIf="isValidField('password')" class="error-Message"> {{getErrorInField('password')}} </span>
        </div>
        <div class="col-auto">
          <span  class="form-text"> Debe tener entre 8-10 caracteres. </span>
        </div>
      </div>
      
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="login-button">Ingresar</button>
    
  </form>
  
  
  </div>