
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-top: 8rem;
}

.login-button{
    font-weight: bold;
    background-color:#DC9732 ;
    color:antiquewhite;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
 
}



label{
    font-weight: bold;
}

.error-Message{
    color: rgba(255, 0, 0, 0.671);
    font-weight: bold;
}
