
.footer-link{
    display: inline-block;
    position: relative;
    color: var(--colorText);
    text-decoration: none;
}

.footer-link:after{
content:"";
display:block;
margin:auto;
height:2px;
width:0px;
transition: all .8s
}

.footer-link:hover:after {
    width:100%;
    background: var(--colorSecondary);
}

footer img{
    width: 10%;
    height:10%;
}